/* まとめる時用タグ↓ */
/* #region ===== 省略 ここから ===== */
/* #endregion ===== 省略 ここまで ===== */

/* 配色パレット（CSS変数化） */
:root {
    --color-main-dark: #5D6151;
    /* 濃いメイン */
    --color-main: #8F9779;
    /* メイン */
    --color-main-light: #B1BCAC;
    /* 薄いメイン */

    --color-accent: rgb(126, 47, 24);

    --color-bg-light: #e9e2d6;
    /* 背景 */
    --color-bg-dark: #CBC0B3;
    /* 背景 */

    --color-white: #ffffff;
    --color-black: #000000;
}


/* #region ===== リンク先がない（クリック不可）のものに使用 ===== */
.disabled-link {
    background: gray;
    cursor: not-allowed;
    pointer-events: none;
}

/* #endregion ===== リンク先がない時 ここまで ===== */

/* #region ===== 全画面用リップル ここから ===== */
.ripple-global {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 20px;
    transform: scale(0);
    animation: ripple-global-animation 0.6s linear;
    pointer-events: none;
    z-index: 9999;
}

@keyframes ripple-global-animation {
    to {
        transform: scale(6);
        opacity: 0;
    }
}
/* #endregion ===== 全画面用リップル ここまで ===== */

/* #region ===== ヘッダー STYLE ここから ===== */
header {
    background-color: var(--color-main-dark);
    color: var(--color-white);
    text-align: center;
    padding: 10px 10px;
    position: relative;
}

header .toggle-title[data-type="sitemap"] {
    position: absolute;
    top: 5px;
    right: 10px;
    background: var(--color-white);
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

header .toggle-content[data-type="sitemap"] {
    display: none;

    width: 100px;
    padding: 10px;
    padding-bottom: 40px;
    background: url("../img/liquid-shape.png") no-repeat center / cover;

    color: #333;

    border: none;
    position: absolute;
    right: 10px;
    top: 45px;
    z-index: 10;

}



/* サイトマップリンクの基本スタイル */
.sitemap-link {
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
    color: #4B6043;
    /* 緑系（あなたのテーマに合わせて変えてOK） */
    font-weight: 600;
    transition: 0.25s ease;
    border-radius: 6px;
}

/* ホバー時の演出 */
.sitemap-link:hover,
.sitemap-link:focus {
    color: #fff;
    /* 白文字 */
    text-shadow:
        0 0 5px #3a5f41,
        0 0 10px #3a5f41;
    /* 緑のふわっとした影 */
    transform: scale(1.05);
    /* ちょっとだけ大きく */
}



/* #endregion ===== ヘッダー STYLE ここまで ===== */

/* #region ===== タイトル画像エリア ここから ===== */
.title-area {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    animation: fadeSwitch 25s infinite;
}

/* #region ===== 波アニメ ここから ===== */
.title span,
.subtitle span {
    display: inline-block;
    animation: wave 0.5s ease-in-out 1 forwards;
}

@keyframes wave {
    0% {
        color: inherit;
        transform: translateY(0);
        text-shadow: none;
    }

    50% {
        color: var(--color-main-dark);
        transform: translateY(-5px);
        text-shadow: 0 0 10px var(--color-white);
    }

    100% {
        color: inherit;
        transform: translateY(0);
        text-shadow: none;
    }
}

.title span:nth-child(1) {
    animation-delay: 0s;
}

.title span:nth-child(2) {
    animation-delay: 0.05s;
}

.title span:nth-child(3) {
    animation-delay: 0.10s;
}

.title span:nth-child(4) {
    animation-delay: 0.15s;
}

.title span:nth-child(5) {
    animation-delay: 0.20s;
}

.title span:nth-child(6) {
    animation-delay: 0.25s;
}

.title span:nth-child(7) {
    animation-delay: 0.30s;
}

.title span:nth-child(8) {
    animation-delay: 0.35s;
}

.title span:nth-child(9) {
    animation-delay: 0.40s;
}

.title span:nth-child(10) {
    animation-delay: 0.45s;
}

.title span:nth-child(11) {
    animation-delay: 0.50s;
}

.title span:nth-child(12) {
    animation-delay: 0.55s;
}

.title span:nth-child(13) {
    animation-delay: 0.60s;
}

.title span:nth-child(14) {
    animation-delay: 0.65s;
}

.title span:nth-child(15) {
    animation-delay: 0.70s;
}

.title span:nth-child(16) {
    animation-delay: 0.75s;
}

.title span:nth-child(17) {
    animation-delay: 0.80s;
}

.title span:nth-child(18) {
    animation-delay: 0.85s;
}

.title span:nth-child(19) {
    animation-delay: 0.90s;
}

.subtitle span {
    animation-delay: 2.0s;
}

/* #endregion ===== 波アニメ ここまで ===== */


.title-area::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
}

.title-area h1 {
    color: var(--color-accent);
    font-size: 48px;
    z-index: 1;
    text-shadow: 0 0 20px var(--color-white);
    margin: 0;

}

@keyframes fadeSwitch {
    0% {
        background-image: url('./img/class1.jpg');
    }

    33% {
        background-image: url('./img/class3.jpg');
    }

    66% {
        background-image: url('./img/class4.jpg');
    }

    100% {
        background-image: url('./img/class1.jpg');
    }
}

/* #endregion ===== タイトル画像エリア ここまで ===== */

/* #region ===== スクロール表示 ここから ===== */
.scroll-fade {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.scroll-fade.visible {
    opacity: 1;
    transform: translateY(0);
}

/* #endregion ===== スクロール表示 ここまで ===== */

/* #region ===== MENU STYLE ここから ===== */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.menu ul li {
    margin: 0;
    padding: 0;
}

.menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    height: 50px;
    font-size: 20px;
    text-decoration: none;

    color: var(--color-white);
    background: var(--color-main-dark);

    border-radius: 6px;
    transition: 0.2s;

    position: relative;
    /* ripple用に必要 */
    overflow: hidden;
    /* rippleがはみ出さないように */
}

.menu ul li a:hover,
.menu ul li a:focus {
    background: var(--color-main-light);
    outline: 2px solid var(--color-main-dark);
}

.menu ul li a:active {
    outline: 2px solid var(--color-white);
}

/* #endregion ===== MENU STYLE ここまで ===== */

/* #region ===== 更新履歴 ここから ===== */
.news-box {
    margin: 20px;
    border-left: 4px solid var(--color-main);
    padding-left: 10px;
}

.news-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.news-content {
    background-color: var(--color-bg-dark);
    max-height: 120px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 4px;
}

/* #endregion ===== 更新履歴 ここまで ===== */

/* #region ===== スキル（Profileページ用 ここから ===== */
.skill-set {
    margin-top: 10px;
    padding-left: 5px;
}

.skill-item {
    margin-bottom: 22px;
}

.skill-head {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.skill-note {
    margin: 2px 0;
    font-size: 15px;
    color: #444;
}

/* #endregion ===== スキル（Profileページ用） ここまで ===== */

/* #region ===== コンタクト ここから ===== */
.contact-box {
    background-color: var(--color-bg-dark);
    font-weight: bold;
    color: var(--color-white);
    font-size: 18px;
    margin-top: 50px;
    padding: 10px 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.contact-icon {
    font-size: 28px;
    margin-right: 10px;
    text-decoration: none;
}

.contact-label {
    font-size: 16px;
}

/* #endregion ===== コンタクト ここまで ===== */

/* #region ===== フッター STYLE ここから ===== */
.footer {
    background: var(--color-main-dark);
    color: var(--color-white);
    text-align: center;
    padding: 5px 0;
    margin-top: 50px;
}

.footer a {
    color: var(--color-white);
    text-decoration: underline;
}

.footer a:hover {
    opacity: 0.8;
}

/* #endregion ===== フッター STYLE ここまで ===== */

/* #region ===== 先頭に戻るボタン ここから ===== */
.to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 10px;

    background: var(--color-accent);
    color: var(--color-white);

    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    z-index: 5;
}

.to-top:active {
    transform: scale(0.9);
}

/* #endregion ===== 先頭に戻るボタン ここまで ===== */